<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
</head>
<body>
	<h1>Chandra kumar reddy</h1>
	<img src="/images/einstein_compound_intrest.png" alt="Compound interest image">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, distinctio quibusdam sapiente reprehenderit vitae fugit eius omnis eligendi quisquam dolore labore incidunt sed magni hic natus fugiat. Quam, debitis ab!</p>
</body>
</html>